footer{
    width: 100%;
    min-height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem;
    font-family: "Song Myung", serif;
    font-weight: 400;
}